<!-- *ngFor="let item of filterListArray" [filter]="item" -->
  <!-- filter list -->
  <div>
    <!-- filter header -->
    <h5>Categories</h5>
    <!-- filter list -->
    <ul class="list list--vr-separator">
      <app-filter-item></app-filter-item>
    </ul>
</div>
<!-- filter tags -->
<div>
    <!-- filter header -->
    <h5>Tags</h5>
    <!-- filter tags -->
    <div class="tags">
        <span class="tag">Nike</span>
        <span class="tag">Travel</span>
        <span class="tag">Sport</span>
        <span class="tag">Tv</span>
        <span class="tag">Books</span>
        <span class="tag">Tech</span>
        <span class="tag">Addidas</span>
        <span class="tag">Promo</span>
        <span class="tag">Reading</span>
        <span class="tag">Social</span>
        <span class="tag">New</span>
        <span class="tag">Special</span>
        <span class="tag">Food</span>
        <span class="tag">Used</span>
    </div>
</div>
