<!-- <router-outlet></router-outlet> -->
<div class="container">
<app-categories-listning class="filters"></app-categories-listning>

 <!-- Items -->
 <section class="item-listing">
  <!-- tools (sorting , change view , exporting) -->
  <div class="item-listing__tools">
      <select class="form-control" name="" id="">
          <option value="1">Featured</option>
          <option value="2">Price low to high</option>
          <option value="3">Price high to low</option>
          <option value="4">Name</option>
      </select>
      <a class="action-btn" [routerLink]="['product','add']">
          <i class="fas fa-plus"></i>
      </a>
  </div>
  <!-- items -->
  <div class="item-listing__items item-listing--3items">
      <!-- medium item -->
     <app-product-item *ngFor="let itemss of productOfArrayToBeViewed" [product]="itemss" class="item-medium-1"></app-product-item>
  </div>
  <!-- paging -->
  <div class="paging">
      <!-- left arrow -->
      <div class="paging__arrow" (click)="onPagination(currentPage-1)">
          <i class="fas fa-angle-left"></i>
      </div>
      <!-- page number -->
      <div class="paging__number" [ngClass]="{'active':currentPage==i}" *ngFor="let page of numOfPagesArray, let i=index" (click)="onPagination(i)">{{page}}</div>
      <!-- right arrow -->
      <div class="paging__arrow"(click)="onPagination(currentPage+1)">
          <i class="fas fa-angle-right"></i>
      </div>
  </div>
</section>
</div>
